* {
    box-sizing:border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
    margin: 0; /* Remove default margin */ 
    background-color:rgb(107, 104, 104);
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

}

main {
    flex: 1; /* Grow to fill remaining vertical space */
}

footer {
    flex-shrink: 0; /* Prevent footer from shrinking */

}

h1 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    background-color: #210245b4;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}


.table-responsive {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }



  .clock-buttons {
    display: flex;
    justify-content: space-evenly;
     /* Adjust the margin as needed */
  }
  
  .clock-buttons button {
    padding:  ; /* Adjust padding as needed */
    border-radius: 20px; /* Make the buttons round */
    background-color: #491683b4; /* Change to your desired color */
    color: #fff; /* Text color */
    border: none; /* Remove border */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add smooth transition */
  }
  
  .clock-buttons button:hover {
    background-color: #a90678b4; /* Darker color on hover */
  }

  .CatClock {
    height: auto;
    width: auto;
    border:  rgb(168, 4, 4);
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    
    

    

  }

  .UserId {
    display:block;
    margin: 20px;
    border: 10px;
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    left: 0;

  }
  
  .Description {
    display:block;
    margin: 20px;
    border: 10px;
    padding: 10px;
    border-radius: 30px;
    


  }




  
  
 
  